.layout-footer {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  border-top: 1px solid var(--simply-color-split);
  a {
    font-size: 14px;
    color: var(--simply-color-text-tertiary);
    text-decoration: none;
    letter-spacing: 0.5px;
    white-space: nowrap;
    &:last-child {
      margin-left: 20px;
    }
  }
}
