.layout-footer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0;
  a {
    font-size: 14px;
    color: var(--simply-color-text-tertiary);
    text-decoration: none;
    letter-spacing: 0.5px;
    white-space: nowrap;
    &:last-child {
      margin-top: 2px;
      color: var(--simply-color-text-quaternary);
    }
  }
}
