.layout-classic {
  display: flex;
  height: 100%;
  .layout-sider {
    background: var(--simply-color-bg-container);
    .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
      height: 100%;
      border-right: 1px solid var(--simply-color-split);
      .layout-logo-container {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        height: 55px;
        color: var(--simply-color-text-base);
        .layout-logo-img {
          width: 30px;
          height: 30px;
        }
        .layout-logo-title {
          margin: 0 0 0 5px;
          font-family: SourceHanSansCN-Regular;
          font-weight: bold;
        }
      }
      .ant-menu-root {
        background: var(--simply-color-bg-container);
        border-right: none;
        .ant-menu-item-icon {
          font-size: 16px;
        }
      }
    }
  }
  .ant-layout-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    padding: 0 20px;
    line-height: 55px;
  }
}
