.ant-layout {
  height: 100%;
  .ant-layout-header,
  .ant-layout-footer,
  .ant-tabs {
    background: var(--simply-color-bg-container);
  }
  .ant-layout-header,
  .ant-tabs {
    border-bottom: 1px solid var(--simply-color-split);
  }
}
